* {
    all: unset;
    font-family: 'FiraCode Nerd Font';
}

.bar {
    color: black;
    font-weight: bold;
    font-size: 18px;

    .container {
        background-color: white;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
    }
}
