.bar {
    font-size: 16px;
    font-weight: bolder;
    color: $secondary;

    .container {
        margin: 5px;
        padding: 15px 10px;
        background-color: $primary;
        border-radius: $radius-default;

        .workspace {
            border: 2px solid $secondary;
            border-radius: $radius-round;

            .current, .occupied {
                background-color: $secondary;
                border-radius: $radius-round;
            }
            .occupied:not(.current) {
                margin: 5px;
            }
        }

        .circular-monitor {
            .circle {
                background-color: rgba(50, 50, 50, 0.2);
                color: $secondary;
            }
        }

        .battery-toping {
            margin-bottom: 2px;
            background-color: $secondary;
        }
        .outer-battery {
            background-color: transparent;
            border-style: solid;
            border-color: $secondary;
            border-radius: 3px;

            .inner-battery {
                background-color: $secondary;
                border-radius: 0px;
            }
        }
    }
}