.bar {
    font-weight: bolder;
    color: rgb(50, 50, 50);

    .container {
        margin: 5px;
        padding: 15px 10px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;

        .circular-monitor {
            background-color: lightgrey;
            border-radius: 100%;

            .middle-circle {
                padding: 10px;
                border-radius: 100%;

                .inner-circle {
                    padding: 5px;
                    font-size: 0;
                    color: transparent;
                    border-radius: 100%;
                }
            }

            .outer-ram {
                color: palevioletred;
                .middle-ram {
                    background-color: white;
                }
                .inner-ram {
                    background-color: palevioletred;
                }
            }

            .outer-cpu {
                color: yellowgreen;
                .middle-cpu {
                    background-color: white;
                }
                .inner-cpu {
                    background-color: yellowgreen;
                }
            }
        }

        .battery-toping {
            background-color: rgb(50, 50, 50);
            border-radius: 2px 2px 0 0;
        }
        .outer-battery {
            background-color: transparent;
            border: 2px solid rgb(50, 50, 50);
            border-radius: 3px;

            .inner-battery {
                margin: 1px;
                background-color: rgb(50, 50, 50);
                border-radius: 2px;
            }
        }
    }
}